.validation-errors{
    color: red;
}

.create-form-container{
    display: flex;
    justify-content: center;
    /* border: 3px solid red; */
    /* border-radius: 20%; */
    padding:1rem;
    /* width: 40vw; */
}
.create-form{
    /* position: absolute; */
    /* transform: translateX(40vw); */
    /* margin:2rem 4rem;  */
    width: 100%;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1vh;
    /* align-items: center; */
    word-wrap: normal;

}

.form-inputs{
    display: flex;
    width:100% ;
    justify-content: space-between;
    font-weight: bolder;
    /* font-size: 4vh; */
    flex-direction: column;
}
.form-inputs-public{
    display: flex;
    /* flex-direction: ; */
    justify-content: right;
}
.form-label{
    font-size: 3vh;
}