.validation-errors{
    color: red;
}

.create-form-container{
    display: flex;
    justify-content: center;
    /* border: 3px solid red; */
    border-radius: 2vh;
    padding:2vh;
    /* width: fit-content; */
    /* width: 30vw; */
    /* margin:3vh 2vh;  */
    
}
.create-form{
    /* position: absolute; */
    border-radius: 2vh;
    /* transform: translateX(40vw); */
    width: 100%;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1vh;
    /* align-items: center; */
    word-wrap: normal;

}

.form-inputs{
    display: flex;
    width:100% ;
    justify-content: space-between;
    font-weight: bolder;
    /* font-size: 4vh; */
    flex-direction: column;
}
.form-inputs-public{
    display: flex;
    /* flex-direction: ; */
    justify-content: right;
}
.form-label{
    font-size: 3vh;
}