.landing-page-img {
    /* width: 100%; */
    max-width: max-content;
    object-fit: cover;
    /* opacity: 75%; */
    background-color: #118c5b;
    /* height: 100vh; */
    overflow: hidden;
    /* object-position: bottom; */
    /* border: 3px dotted blue;  */

    
}

.landing-page-container {
    /* position: absolute; */
    /* border: 3px dotted red; */
    max-width: 100%;
    display: flex;
    /* padding-bottom: 10vh; */
    /* margin:0 5%; */
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100%; */
    /* width: auto; */
}
.landing-page-info {

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 45%;
    /* height: 80%; */
    width: 100%;
    /* transform: translateX(100%); */
    /* transform: translate(50%, 50%); */
    /* font-size: 1rem; */
    z-index: 3;
    background-image: linear-gradient(-180deg, #118c5b 0%, #49e9aa 100%);
    color:#ffffff;
    /* border: 3px dotted blue;  */
    padding: 2%;
    margin:10% 2%;
    /* margin-left: 10%; */
    /* margin-top: 10%; */
    /* padding: 15%; */
    /* opacity: 95%; */
    border-radius: 4vh;
    border:1px solid #118c5b;

    box-shadow: 0 0 3px 0px #101010;
    text-shadow: 0 0 .1rem #101010;
    /* margin-bottom: 50vh; */
    
   

}

.landing-page-inner{
    /* border: 3px dotted red; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
 
}

.get-started{
    background-color: #29BE83;
    padding:.5rem;
    border-radius: 2vh;
    /* opacity: 100%; */
    z-index: 6;

}
