.landing-page-img {
    width: 100%;
    /* max-width: 100%; */
    object-fit: cover;
    opacity: 75%;
    background-color: black;
    /* border: 3px dotted blue;  */

    
}

.landing-page-container {
    /* position: absolute; */
    /* border: 3px dotted red; */
    max-width: 100%;
    display: flex;
    /* margin:0 5%; */
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100%; */
    /* width: auto; */
}
.landing-page-info {

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* max-width: 1024px; */
    /* height: 80%; */
    width: 25%;
    /* transform: translateX(100%); */
    /* transform: translate(50%, 50%); */
    font-size: 1rem;
    z-index: 3;
    background-color: black;
    color:#ffffff;
    /* border: 3px dotted blue;  */
    padding: 2%;
    margin-left: 10%;
    margin-top: 10%;
    /* padding: 15%; */
    opacity: 95%;
    border-radius: 1rem;
}

.landing-page-inner{
    /* border: 3px dotted red; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
 
}

.get-started{
    background-color: #29BE83;
    padding:.5rem;
    border-radius: .5rem;
    opacity: 100%;
    z-index: 4;

}