.validation-errors{
    color: red;
}

.create-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
    flex-direction: column;
    /* border: 3px solid red; */
    /* width: 100%; */
    /* max-width: 50%; */
}
.create-form{
    /* position: absolute; */
    /* transform: translateX(40vw); */
    /* margin:2rem 4rem;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */

}

.form-inputs{
    display: flex;
    /* flex-direction: ; */
    justify-content: space-between;
}
.form-inputs-public{
    display: flex;
    /* flex-direction: ; */
    justify-content: right;
}