.set-page-container-div{
    max-width: 100%;
    width:100%;
    height: 100%;
    /* max-height: 100%; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6e6;
    padding: 3rem 0;
}
.set-page-inner-div{
    max-width: 80%;
    width: 100%;
}
.set-btns-div{
    display: flex;
    justify-content: space-evenly;
    
}
.questions-inner-div{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    /* max-width: 50%; */
    justify-content: center; 
    gap:1rem;
    padding:2rem;
}
.set-cards-container-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 70%;
    justify-content: center; 
}
.questions-inner-div{
    display: flex;
    flex-direction: column;
    width: auto;
    /* max-width: 100%; */
    flex-wrap: wrap;
    justify-content: center; 
    gap:1rem;
}
.question-card-div{

    width: 100%;
    /* box-shadow: 0 0 3px 1px; */
    padding: 0 1rem;
    border-bottom: 1px solid #101010;
    /* border-radius: 1rem; */
    /* padding: 1rem; */
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
}

.bigger{
    font-size: 150%;
}

.nav-link-green,#delete-btn{
    text-decoration: none;
    text-decoration-color: #ffffff;
    color:#29BE83;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 4vh;
    letter-spacing: 0;
    word-wrap: break-word;
  }
  .nav-link-green:hover{
    color:#101010;
    font-weight: bolder;
  }
  .add-question-btn{
    display: flex;
    justify-content: center;
  }
 .question-btns{
    width:10%;
    display: flex;
    flex-wrap: wrap;

  }
  .question-text-div{
    width:90%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .question-info-div{
    /* width:90%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 91%;
    /* width:; */
  }
  .question-text,.answer-text{
    font-size: 3vh;
  }
  .set-text{
    font-size: 5vh;
  }
  .set-text-small{
    font-size: 3vh;
  }
  .answer-text{
    /* display: flex; */
    /* opacity: 0%; */
    font-size: 3vh;
    color:transparent;
    transition: color .5s;
    /* flex-direction: column; */
  }
  .answer-text:hover{
    /* display: flex; */
    /* opacity: 100%; */
    color:#101010;
  
    /* flex-direction: column; */
  }
  #edit-question-btn,#delete-question-btn{
      display: flex;
      /* background-color: #29BE83; */
    width: 100%;
  }

  .card-carousel-container{
    display: flex;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
  }
  .card-flip-carosel{
    display: flex;
    /* max-width: 80vw; */
    width: 100%;
    /* max-height: 50%; */
    height:50vh;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px 1px;
    padding:2vh;
    border-radius: 10vh;
    position: relative;
    transition: transform .2s;
    transform-style: preserve-3d;
    box-shadow: 0 0 3px 0;
    margin:1rem 0;
    word-wrap: break-word;
    /* perspective:1000px; */
  }
  .card-flip-carosel-div{
    flex-direction: column;
    display: flex;
    max-width: 100vw;
    max-height: 50%;
    /* height:100%; */
    width: 100%;
    /* padding:2rem 0; */
    align-items: center;
    justify-content: center;
    perspective:5000px;
    /* border: 3px solid red; */
    padding:0;
    margin: 0;
    

  
    /* box-shadow: 0 0 3px 1px; */
  }

  .card-flip-carosel-div:hover .card-flip-carosel{
    transform: rotateX(-180deg);
    transition-delay: 3s;
  }
  .card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1rem; */
    word-wrap: break-word;
    padding:3vh;
    margin: 0;
    /* border:3px solid red; */
  }
  .answer, .question{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh ;
    font-weight: bolder;
    text-shadow: 0 0 1rem #101010;
    box-shadow:0 0 3px;
    cursor:help;
    background-image: linear-gradient(-180deg, #118c5b 0%, #49e9aa 100%);

    color: white;
    border-radius: 5vh;
    border:1px solid #118c5b;


  }
  .answer{
    background-image: linear-gradient(0deg, #118c5b 0%, #49e9aa 100%);

    color: white;
    transform: rotateX(-180deg);
    /* border-radius: 2rem; */

  }
  .short{
    font-size: 4.4vh;
    
  }
  .med{
    font-size: 2.2vh;

  }
  .long{
    font-size: 1.5vh;
  }
  .carousel-btn-left{
    background-image: linear-gradient(270deg, #118c5b 0%, #49e9aa 100%);
    border-radius: 50%;
    border: 0px;
    font-size: 5vh;
    /* padding: 1rem 2rem; */
    margin-right: 1rem;
    border:1px solid #118c5b;
    z-index: 3;
  }
  .carousel-btn-right{
    /* padding: 1rem 2rem; */
    border: 0px;
    background-image: linear-gradient(90deg, #118c5b 0%, #49e9aa 100%);
    border-radius: 50%;
    font-size: 5vh;
    margin-left: 1rem;
    border:1px solid #118c5b;
    z-index: 3;
  }

  .carousel-btn-left:hover{
    background-image: none;
    background-color: #e6e6e6;
    color: #118c5b;
    border:1px solid #118c5b;
  }
  .carousel-btn-right:hover{
    background-image: none;
    background-color: #e6e6e6;
    color: #118c5b;
    border:1px solid #118c5b;
  }

  .set-card-div{
    width: 100%;
    word-wrap: break-word;
  }
  .card-counter, .carousel-btns{
    display: flex;
    justify-content: center;
    padding:3vh 0;
  }

  .shuffle{
    transform: rotateY(-360deg);
    transition: transform ease-in .8s;
  }
  .no{
    transform: rotateY(0deg);
    transition: transform ease-in .8s;
    
  }
  .add-question-btn{
    margin-bottom: 10vh;
  }