.library-container-div{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    max-width: 100%;
    width:100%;
    background-color: #e6e6e6;
    height: 100%;
    padding-bottom:10rem ;
    /* border: 3px solid red; */
}
.library-inner-div{
    display: flex;
    max-width: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid red; */

}
.library-header{
    margin-bottom: 2rem;
}
.folder-user-details-div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap:1rem;
}
.folder-card-container{
    height:20rem ;
    width:100%;
    padding:1.5rem;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
    box-shadow: 0 0 3px ;
    border-radius: 1rem;
    background-color: #29BE83;
    gap:1rem;
    text-overflow: clip;
}
.folder-card-div{
    word-wrap: normal;
    display: flex;
    width: 100%;
    flex-direction: column;
  justify-content: center;
  align-items: center;

}
.library-header{
    display: flex;
    align-items: center;
    gap:2rem;
}

