.library-container-div{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    max-width: 100%;
    width:100%;
    background-color: #e6e6e6;
    /* height: 100%; */
    padding-bottom:10vh ;
    /* border: 3px solid red; */
}
.library-inner-div{
    display: flex;
    max-width: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid red; */

}
.library-header{
    margin-bottom: 3vh;
}
.folder-user-details-div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap:2vh;
    /* box-shadow: 0 0 3px 0px #101010; */
    

}
.folder-card-container{
    height:20rem ;
    width:100%;
    padding:3vh;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    height: fit-content;
    box-shadow: 0 0 3px 1px;
    border-radius: 4vh;
    background-image: linear-gradient(-180deg, #118c5b 0%, #49e9aa 100%);
    gap:2vh;
    text-overflow: clip;
    transition-duration: .5;
    border:1px solid #118c5b;
  }
  
  .folder-card-container:hover{
  background-image: linear-gradient(0deg, #118c5b 0%, #49e9aa 100%);

}
.folder-card-div{
  word-wrap: normal;
  display: flex;
  flex-shrink: 5;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom:1vh;
  height: fit-content;
  /* box-shadow: 0 0 3px 1px; */

}
.library-header{
    display: flex;
    align-items: center;
    gap:2vh ;
}

.nav-link,#delete-btn{
    text-decoration: none;
    text-decoration-color: #ffffff;
    color:#ffffff;
    margin: 0;
    padding: 0 1vh;
    font-weight: bolder;
    word-wrap: normal;
    z-index: 0;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2vh;
  }
  .nav-link:hover{
    color:#101010;
    font-weight: bolder;
  }

  #delete-btn{
    text-decoration: none;
    background-color: #e6e6e6;
  }
  .log_out_button{
    display: flex;
    justify-content: center;
    border:none;
    background-color: #f0f0f0;
    border-radius: 2vh;
    padding:1vh 2vh;
    margin:2vh;
    font-size: 2vh;
    color:#118c5b;
    word-wrap: normal;
    border:1px solid #118c5b;
  }
  .log_out_button:hover{
    /* color: #ffffff; */
    color:#101010;
  }
  .no-sets{
    color:red;
    font-weight: bolder;
  }

